.asset {
    font-weight: 600;
    color: #221F20;
    // padding-left: 16px;
    display: flex;

    &.sm {
        font-size: 12px;
        line-height: 20px;

        &::before {
            width: 12px;
            height: 18px;
            margin-right: 4px;
        }
    }

    &.lg {
        font-size: 14px;
        line-height: 21px;

        &::before {
            width: 16px;
            height: 23px;
            margin-right: 8px;
        }
    }

    &::before {
        content: "";
        display: block;        
        background-repeat: no-repeat;
        background-size: 100%;
        background-position-y: center;
    }

    &.matic {

        &::before {
            background-image: url('../img/matic.svg');
        }
    }

    &.eth {

        &::before {
            background-image: url('../img/eth.svg');
        }
    }

    &.shib {

        &::before {
            background-image: url('../img/shib.svg');
        }
    }

    &.dai {

        &::before {
            background-image: url('../img/dai.svg');
        }
    }

}

.select-dropdown,
.summary-asset {

    &:before {
        content: "";
        display: block;        
        background-repeat: no-repeat;
        background-size: 70%;
        background-position-y: center;
        width: 16px;
        height: 16px;
        position: absolute;
        left: 0;
        top: -2px;
    }

    &.matic {
        position: relative;
        padding-left: 20px;

        &::before {
            background-image: url('../img/matic.svg');
        }
        
    }

    &.eth {
        position: relative;
        padding-left: 20px;

        &::before {
            background-image: url('../img/eth.svg');
        }
        
    }

    &.shib {
        position: relative;
        padding-left: 20px;

        &::before {
            background-image: url('../img/shib.svg');
        }
        
    }

    &.dai {
        position: relative;
        padding-left: 20px;

        &::before {
            background-image: url('../img/dai.svg');
        }
        
    }
    
}

.summary-asset {
    padding-right: 24px;
    padding-left: 0;

    &:before {
        right: 0;
        left: inherit;
    }
}