.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    padding: 20px;
    box-sizing: border-box;
  
  
    .btn-close {
      float: right;
      width: 1.5rem;
      line-height: 1.5rem;
      text-align: center;
      cursor: pointer;
      border-radius: 0.25rem;
      font-size: 25px;
    }
  
    &.show-modal {
      opacity: 1;
      visibility: visible;
      transform: scale(1.0);
      transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    }

    .modal-content {
        background: $white;
        border-radius: 8px;
        width: 100%;
        padding: 16px;
        box-sizing: border-box;
        overflow-x: auto;
        display: block;
        max-height: 600px;

        @media (min-width: 768px) {
            max-width: 520px;
            max-height: 100%;
        }

        &.smaller {
            max-width: 282px;
        }
    }

    .side-by-side  {
        margin-bottom: 0;
    }

    .divide-line {
        width: 100%;
        height: 1px;
        background: #E0E1E4;
        margin: 24px 0;
    }
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    color: $black;
}

.modal-dropdowns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .select-dropdown {
        margin-bottom: 7px;
        margin-right: 0;
        color: #424242;
    }

    .select-dropdown__button {
        width: 220px;
    }

    .left,
    .right {
        padding-bottom: 20px;
    }
}

.dropdown-label {
    font-weight: 400;
    font-size: 12px;
    color: #221F20;
    margin-bottom: 16px;
}

.modal-disc {
    font-weight: 500;
    font-size: 10px;
    color: #9CA3AF;
}

.ctas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.modal-section {
    padding-bottom: 26px;

    &.two-cols {
        display: flex;
        justify-content: space-between;
    }

    .left,
    .right {
        padding-bottom: 20px;
    }

    .dropdown-label {
        @media (max-width: 767px) {
            font-size: 10px;
            margin-bottom: 10px;
        }
    }

    &.with-border {
        border: 1px solid #E0E1E4;
        border-radius: 8px;
        padding: 8px 16px;
        margin-bottom: 24px;
    }

    &.center-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            margin-bottom: 16px;
        }
        
        .main-desc {
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 16px;
        }

        .the-link {
            font-weight: 500;
            font-size: 12px;
            color: #31ADF3;
            text-decoration: underline;
        }
    }

}

.input-container {
    position: relative;
    width: 140px;

    @media (min-width: 768px) {
        width: 220px;
    }

    input {
        width: 100%;
        height: 37px;
        background: #FFFFFF;
        border: 1px solid #E0E1E4;
        border-radius: 8px;
        padding: 12px;
        box-sizing: border-box;
        font-weight: 400;
        font-size: 10px;
        margin-bottom: 7px;

        @media (min-width: 768px) {
            font-size: 14px;
        }

        &:disabled {
            background: #EAF7FE;
            border: 1px solid #E0E1E4;
            color: #9CA3AF;
        }
    }

    .selected-asset-label {
        position: absolute;
        top: 14px;
        right: 7px;
        color: #31ADF3;
        font-weight: 600;
        font-size: 10px;

        @media (min-width: 768px) {
            font-size: 12px;
            top: 12px;
        }

        &.disabled {
            color: #ABDDFA;
        }
    }
}

.input-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.badge {
    width: 26px;
    height: 14px;
    background: #31ADF3;
    border-radius: 2px;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 8px;
}

.input-toggle {
    display: flex;
    justify-content: space-between;
}

.modal-desc {
    font-weight: 500;
    font-size: 12px;
    color: #9CA3AF;
    margin-top: 8px;
    margin-bottom: 16px;
}

.summary {

    .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 18px;
    }

    .subheading {
        font-weight: 500;
        font-size: 14px;
        color: $black;
    }

    .detail {
        font-weight: 500;
        font-size: 14px;
        color: #9CA3AF;
    }
}

.metaMask-logo {
    display: flex;
    justify-content: center;
    padding: 16px;
}

.loader {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
    display: block;
    margin: 0 auto 16px;
}
  .loader::before , .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite ;
  }
  .loader::after{
    transform: rotate3d(90, 90, 0, 180deg );
    border-color: #31adf3;
  }

  @keyframes rotate {
    0%   {transform: rotate(0deg)}
    100%   {transform: rotate(360deg)}
  }

  @keyframes prixClipFix {
      0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
      50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
      75%, 100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
  }  

.waiting-text {
    font-weight: 400;
    font-size: 12px;
    color: #221F20;
    margin-bottom: 24px;
    text-align: center;
}

.waiting-text-2 {
    font-weight: 400;
    font-size: 12px;
    color: #9CA3AF;
    text-align: center;
    margin-bottom: 24px;
}

.need-help {
    width: 100%;
    text-align: left;
    color: #31ADF3;
    font-weight: 400;
    font-size: 12px;
    margin-top: 16px;
    text-decoration: none;
}

.tooltip {
    position: relative;

    &.right {

        .tooltip-box {
            right: -20px;
        }

    }

    &.left {

        .tooltip-box {
            left: -20px;
        }

    }

    .tooltip-box {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        width: 200px;
        background: #EDEDF2;
        padding: 8px 12px;
        bottom: 42px;
        border-radius: 4px;
        font-weight: 400;
        font-size: 10px;
        color: #9CA3AF;
    }

    &:hover {
        .tooltip-box{
            visibility: visible;
            opacity: 1;
        }
    }
}