/**
* @author Allan Estrada
*/

/* BASE - Base styles, variables, mixins, etc*/
@import "variables";
@import "normalize";

@import "main-nav";
@import "secondary-nav";
@import "buttons";
@import "tabs";
@import "dropdown-custom";
@import "tables";
@import "asset-icons";
@import "footer";

@import "modal";
@import "toggle";
@import "cards";

body {
    font-family: 'Inter', sans-serif;
}

.wrapper {
    display: flex;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;

    .page-content {
        margin-bottom: auto;
        padding: 45px 5px;

        &.dashboard {
            padding: 45px 10px;
            @media (min-width: 768px) {
                padding: 45px 24px;
            }
        }
    }

    .footer {
        margin-top: auto;
    }

    .main-title {
        font-weight: 500;
        font-size: 40px;
        color: $black;
        margin-bottom: 24px;
    }
}

.side-by-side {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;

    .cta {
        width: 210px;
        margin-top: 24px;

        a {
            margin: 0;
        }
    }

    @media (min-width: 768px) {
        flex-direction: row;

        .cta {
            margin-left: auto;
        }
    }

}

.margin-top {
    margin-top: 20px;
    padding-bottom: 0;

    .with-border {
        margin-bottom: 0;
    }
}

.hide-element {
    display: none !important;
}

.show-element {
    display: flex !important;
}

.show-element-block {
    display: block !important;
}

